<!-- Form like start -->
<form action="/create_like_from_book" method="post">
<!-- Form like end -->

  <!-- Label and input for users_id start -->
  <div class="form-group">
    <label for="users_id">
      Users
    </label>

    <!-- Input for users_id start -->
    <%= select_tag(:users_id, options_from_collection_for_select(User.all, :id, :email, @like.users_id), :class => "form-control") %>
    <!-- Input for users_id end -->
  </div>
  <!-- Label and input for users_id end -->

  <!-- Label and input for films_id start -->
  <div class="form-group">
    <label for="films_id">
      Films
    </label>

    <!-- Input for films_id start -->
    <%= select_tag(:films_id, options_from_collection_for_select(Film.all, :id, :title, @like.films_id), :class => "form-control") %>
    <!-- Input for films_id end -->
  </div>
  <!-- Label and input for films_id end -->

  <!-- Label and input for shows_id start -->
  <div class="form-group">
    <label for="shows_id">
      Shows
    </label>

    <!-- Input for shows_id start -->
    <%= select_tag(:shows_id, options_from_collection_for_select(Show.all, :id, :title, @like.shows_id), :class => "form-control") %>
    <!-- Input for shows_id end -->
  </div>
  <!-- Label and input for shows_id end -->

  <!-- Label and input for podcasts_id start -->
  <div class="form-group">
    <label for="podcasts_id">
      Podcasts
    </label>

    <!-- Input for podcasts_id start -->
    <%= select_tag(:podcasts_id, options_from_collection_for_select(Podcast.all, :id, :title, @like.podcasts_id), :class => "form-control") %>
    <!-- Input for podcasts_id end -->
  </div>
  <!-- Label and input for podcasts_id end -->

  <!-- Label and input for articles_id start -->
  <div class="form-group">
    <label for="articles_id">
      Articles
    </label>

    <!-- Input for articles_id start -->
    <%= select_tag(:articles_id, options_from_collection_for_select(Article.all, :id, :users_id, @like.articles_id), :class => "form-control") %>
    <!-- Input for articles_id end -->
  </div>
  <!-- Label and input for articles_id end -->

  <!-- Label and input for books_id start -->
  <!-- Input for books_id start -->
  <input type="hidden" name="books_id" value="<%= @book.id %>">
  <!-- Input for books_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
