<% if @book.errors.any? %>
  <% @book.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit book #<%= @book.id %>
</h1>

<hr>

<form action="/update_book/<%= @book.id %>" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @book.title %>">
  </div>

  <div class="form-group">
    <label for="author">
      Author
    </label>

    <input type="text" id="author" name="author" class="form-control" value="<%= @book.author %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @book.description %></textarea>
  </div>


  <div class="form-group">
    <label for="genre_topic">
      Genre topic
    </label>

    <input type="text" id="genre_topic" name="genre_topic" class="form-control" value="<%= @book.genre_topic %>">
  </div>

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <textarea id="comments" name="comments" class="form-control" rows="3"><%= @book.comments %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update book
  </button>
</form>

<hr>

<a href="/books">
  Go back
</a>
