<h1>
  Edit podcast #<%= @podcast.id %>
</h1>

<hr>

<form action="/update_podcast/<%= @podcast.id %>" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @podcast.title %>">
  </div>

  <div class="form-group">
    <label for="source">
      Source
    </label>

    <input type="text" id="source" name="source" class="form-control" value="<%= @podcast.source %>">
  </div>

  <div class="form-group">
    <label for="favorite_episode">
      Favorite episode
    </label>

    <input type="text" id="favorite_episode" name="favorite_episode" class="form-control" value="<%= @podcast.favorite_episode %>">
  </div>


  <div class="form-group">
    <label for="genre_topic">
      Genre topic
    </label>

    <input type="text" id="genre_topic" name="genre_topic" class="form-control" value="<%= @podcast.genre_topic %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @podcast.description %></textarea>
  </div>

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <textarea id="comments" name="comments" class="form-control" rows="3"><%= @podcast.comments %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update podcast
  </button>
</form>

<hr>

<a href="/podcasts">
  Go back
</a>
