<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All podcasts
    </h1>

    <a href="/podcasts/new" class="btn btn-block btn-outline-secondary">
      Add a new podcast
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "podcast_templates/podcasts_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Source
        </th>

        <th>
          Favorite episode
        </th>

        <th>
          Users
        </th>

        <th>
          Genre topic
        </th>

        <th>
          Description
        </th>

        <th>
          Comments
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @podcasts.each do |podcast| %>
      <tr>
        <td>
          <%= podcast.id %>
        </td>

        <td>
          <%= podcast.title %>
        </td>

        <td>
          <%= podcast.source %>
        </td>

        <td>
          <%= podcast.favorite_episode %>
        </td>

        <td>
          <% if podcast.users.present? %>
            <a href="/users/<%= podcast.users.id %>">
              <%= podcast.users.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= podcast.genre_topic %>
        </td>

        <td>
          <%= podcast.description %>
        </td>

        <td>
          <%= podcast.comments %>
        </td>

        <td>
          <%= time_ago_in_words(podcast.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(podcast.updated_at) %> ago
        </td>

        <td>
          <a href="/podcasts/<%= podcast.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @podcasts, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
