<form action="/create_like_from_article" method="post">

  <input type="hidden" name="users_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="films_id">
      Films
    </label>

    <%= select_tag(:films_id, options_from_collection_for_select(Film.all, :id, :title, @like.films_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="shows_id">
      Shows
    </label>

    <%= select_tag(:shows_id, options_from_collection_for_select(Show.all, :id, :title, @like.shows_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="podcasts_id">
      Podcasts
    </label>

    <%= select_tag(:podcasts_id, options_from_collection_for_select(Podcast.all, :id, :title, @like.podcasts_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="articles_id" value="<%= @article.id %>">

  <div class="form-group">
    <label for="books_id">
      Books
    </label>

    <%= select_tag(:books_id, options_from_collection_for_select(Book.all, :id, :title, @like.books_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
