<h1>
  Edit article #<%= @article.id %>
</h1>

<hr>

<form action="/update_article/<%= @article.id %>" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @article.title %>">
  </div>

  <div class="form-group">
    <label for="author">
      Author
    </label>

    <input type="text" id="author" name="author" class="form-control" value="<%= @article.author %>">
  </div>

  <div class="form-group">
    <label for="link">
      Link
    </label>

    <input type="text" id="link" name="link" class="form-control" value="<%= @article.link %>">
  </div>


  <div class="form-group">
    <label for="genre_topic">
      Genre topic
    </label>

    <input type="text" id="genre_topic" name="genre_topic" class="form-control" value="<%= @article.genre_topic %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @article.description %></textarea>
  </div>

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <textarea id="comments" name="comments" class="form-control" rows="3"><%= @article.comments %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update article
  </button>
</form>

<hr>

<a href="/articles">
  Go back
</a>
