<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Article #<%= @article.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/articles" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @article.users %>
          <a href="/articles/<%= @article.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit article
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @article.users %>
          <a href="/delete_article/<%= @article.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete article
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @article.title %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @article.author %>
      </dd>

      <dt>
        Link
      </dt>
      <dd>
        <%= @article.link %>
      </dd>

      <dt>
        Users
      </dt>
      <dd>
        <% if @article.users.present? %>
          <a href="/users/<%= @article.users_id %>">
            <%= @article.users.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Genre topic
      </dt>
      <dd>
        <%= @article.genre_topic %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @article.description %>
      </dd>

      <dt>
        Comments
      </dt>
      <dd>
        <%= @article.comments %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@article.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@article.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "article_templates/article_likes" %>
  </div>
</div>
