<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All shows
    </h1>

    <a href="/shows/new" class="btn btn-block btn-outline-secondary">
      Add a new show
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Source
        </th>

        <th>
          Users
        </th>

        <th>
          Genre topic
        </th>

        <th>
          Description
        </th>

        <th>
          Comments
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @shows.each do |show| %>
      <tr>
        <!-- Display show.id start -->
        <td>
          <%= show.id %>
        </td>
        <!-- Display show.id end -->

        <!-- Display show.title start -->
        <td>
          <%= show.title %>
        </td>
        <!-- Display show.title end -->

        <!-- Display show.source start -->
        <td>
          <%= show.source %>
        </td>
        <!-- Display show.source end -->

        <!-- Display show.users_id start -->
        <td>
          <%= show.users_id %>
        </td>
        <!-- Display show.users_id end -->

        <!-- Display show.genre_topic start -->
        <td>
          <%= show.genre_topic %>
        </td>
        <!-- Display show.genre_topic end -->

        <!-- Display show.description start -->
        <td>
          <%= show.description %>
        </td>
        <!-- Display show.description end -->

        <!-- Display show.comments start -->
        <td>
          <%= show.comments %>
        </td>
        <!-- Display show.comments end -->

        <!-- Display show.created_at start -->
        <td>
          <%= time_ago_in_words(show.created_at) %> ago
        </td>
        <!-- Display show.created_at end -->

        <!-- Display show.updated_at start -->
        <td>
          <%= time_ago_in_words(show.updated_at) %> ago
        </td>
        <!-- Display show.updated_at end -->

        <td>
          <a href="/shows/<%= show.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
