<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Show #<%= @show.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/shows" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @show.users %>
          <a href="/shows/<%= @show.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit show
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @show.users %>
          <a href="/delete_show/<%= @show.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete show
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @show.title %>
      </dd>

      <dt>
        Source
      </dt>
      <dd>
        <%= @show.source %>
      </dd>

      <dt>
        Users
      </dt>
      <dd>
        <% if @show.users.present? %>
          <a href="/users/<%= @show.users_id %>">
            <%= @show.users.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Genre topic
      </dt>
      <dd>
        <%= @show.genre_topic %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @show.description %>
      </dd>

      <dt>
        Comments
      </dt>
      <dd>
        <%= @show.comments %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@show.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@show.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "show_templates/show_likes" %>
  </div>
</div>
