<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Like #<%= @like.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/likes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link like start -->
      <div class="col">
        <% if current_user == @like.users %>
          <a href="/likes/<%= @like.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit like
          </a>
        <% end %>
      </div>
      <!-- Edit link like end -->

      <!-- Delete link like start -->
      <div class="col">
        <% if current_user == @like.users %>
          <a href="/delete_like/<%= @like.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete like
          </a>
        <% end %>
      </div>
      <!-- Delete link like end -->
    </div>

    <dl>
      <dt>
        Users
      </dt>
      <!-- Display users_id start -->
      <dd>
        <% if @like.users.present? %>
          <a href="/users/<%= @like.users_id %>">
            <%= @like.users.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display users_id end -->

      <dt>
        Films
      </dt>
      <!-- Display films_id start -->
      <dd>
        <% if @like.films.present? %>
          <a href="/films/<%= @like.films_id %>">
            <%= @like.films.title %>
          </a>
        <% end %>
      </dd>
      <!-- Display films_id end -->

      <dt>
        Shows
      </dt>
      <!-- Display shows_id start -->
      <dd>
        <% if @like.shows.present? %>
          <a href="/shows/<%= @like.shows_id %>">
            <%= @like.shows.title %>
          </a>
        <% end %>
      </dd>
      <!-- Display shows_id end -->

      <dt>
        Podcasts
      </dt>
      <!-- Display podcasts_id start -->
      <dd>
        <% if @like.podcasts.present? %>
          <a href="/podcasts/<%= @like.podcasts_id %>">
            <%= @like.podcasts.title %>
          </a>
        <% end %>
      </dd>
      <!-- Display podcasts_id end -->

      <dt>
        Articles
      </dt>
      <!-- Display articles_id start -->
      <dd>
        <% if @like.articles.present? %>
          <a href="/articles/<%= @like.articles_id %>">
            <%= @like.articles.users_id %>
          </a>
        <% end %>
      </dd>
      <!-- Display articles_id end -->

      <dt>
        Books
      </dt>
      <!-- Display books_id start -->
      <dd>
        <% if @like.books.present? %>
          <a href="/books/<%= @like.books_id %>">
            <%= @like.books.title %>
          </a>
        <% end %>
      </dd>
      <!-- Display books_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@like.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@like.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
